{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<div class="row">
  <h1>Проект написан с использованием:</h1>
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Иван Павлов
      </li>
      <li class="list-group-item">
        Команда Яндекс-практикум
      </li>
    </ul>
  </aside>
  <article class="col-12 col-md-9">
    <p>
      Тут когда-нибудь будет информация об Иване Павлове.<br>
      Cпасибо за внимание.
    </p>
  </article>
</div>
{% endblock %}