{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="row">
  <h1>Проект написан с использованием:</h1>
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python 3.9.16
      </li>
      <li class="list-group-item">
        Django 2.2.9
      </li>
    </ul>
  </aside>
  <article class="col-12 col-md-9">
    <p>
      Страницы свёрстаны с использованием CSS фреймворка Bootstrap.<br>
      Cпасибо за внимание.
    </p>
  </article>
</div>
{% endblock %}